.row.center-xs.middle-xs.full-height.black.white-text.no-margin.cover.main-background
	.col-xs-12.col-sm-6.col-lg-4
		.box
			.big-padding.grey-dark.white-text
				%h1.no-margin.green-text.logo Pulitzer
				%p.no-margin Conectate a la comunidad de periodistas UNIS
				.top-space
					=render 'devise/registrations/new'